<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Module"/>

<f:section name="Content">

    <f:be.pageRenderer
            includeCssFiles="{
            0: 'EXT:ns_basetheme/Resources/Public/css/Module/global.css',
            1: 'EXT:ns_basetheme/Resources/Public/css/Module/main.css'
            }"
            includeJsFiles="{
            0: 'EXT:ns_basetheme/Resources/Public/JavaScript/Main.js'
            }"
        includeJavaScriptModules="{
            0: '@typo3/backend/context-menu.js',
            1: '@typo3/backend/element/immediate-action-element.js',
            3: '@typo3/backend/utility/collape-state-persister.js',
            4: '@typo3/tstemplate/constant-editor.js'
        }"
    />

    <f:variable name="args" value="{0: 'nitsan', 1: pageUid}" />
    <f:render
        partial="ThemeOptions/ConstantEditorOptions"
        arguments="{
            allTemplatesOnPage: allTemplatesOnPage,
            pageUid: pageUid,
            selectedTemplateUid: selectedTemplateUid,
            relevantCategories: relevantCategories,
            selectedCategory: selectedCategory
        }"
    />
    <f:if condition="!{relevantCategories}">
        <f:then>
            <f:be.infobox title="{f:translate(key:'LLL:EXT:tstemplate/Resources/Private/Language/locallang_ceditor.xlf:noConstants')}">
                {f:translate(key:'LLL:EXT:tstemplate/Resources/Private/Language/locallang_ceditor.xlf:noConstantsDescription')}
            </f:be.infobox>
        </f:then>
        <f:else>
            <f:render partial="ThemeOptions/ConstantEditorFields" arguments="{_all}" />
        </f:else>
    </f:if>
</f:section>

</html>
