<!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
<f:variable name="privacyPage"><f:if condition="{settings.url}"><f:then>{f:uri.page(pageUid: '{settings.url}')}</f:then></f:if></f:variable>
<script type="text/javascript" data-ignore="1">
    window.cookieconsent_options = {
        js:'<f:uri.resource absolute="1" path="js/cookieconsent.min.js" extensionName="ns_basetheme" />',
        css:'<f:uri.resource absolute="1" path="css/cookieconsent.min.css" extensionName="ns_basetheme" />',
        content: {
            message:'<f:translate key="message" extensionName="ns_basetheme" />',
            dismiss:'<f:translate key="dismiss" extensionName="ns_basetheme" />',
            allow:'<f:translate key="dismiss" extensionName="ns_basetheme" />',
            deny: '<f:translate key="deny" extensionName="ns_basetheme" />',
            link:'<f:translate key="link" extensionName="ns_basetheme" />',
            href:'{privacyPage}',
            policy: '<f:translate key="policy" extensionName="ns_basetheme" />',
        },
        theme: '<f:format.raw>{settings.theme}</f:format.raw>',
        position: '<f:format.raw>{settings.position}</f:format.raw>',
        type: '<f:format.raw>{settings.type}</f:format.raw>',
        dismissOnScroll: parseInt('<f:format.raw>{settings.dismissOnScroll}</f:format.raw>')||false,
        palette: {
            popup: {
                background: '<f:format.raw>{settings.barBg}</f:format.raw>',
                text: '<f:format.raw>{settings.barColor}</f:format.raw>'
            },
            button: {
                background: '<f:format.raw>{settings.btnBg}</f:format.raw>',
                text: '<f:format.raw>{settings.btnColor}</f:format.raw>',
            }
        }
    };
</script>
<script type="text/javascript" data-ignore="1" defer src="{f:uri.resource(extensionName: 'ns_basetheme', path:'js/cookie.min.js', absolute: 1)}?v=9.5.2"></script>
<!-- End Cookie Consent plugin -->
